extends ../layout

block content

    body#Loginform  
        .container
            .login-form
                .main-div
                    .panel
                    if info && info.message
                        div.alert.alert-danger
                            = info.message
                    h2 Recuperación de password
                    p Por favor ingrese su Email, para recibir las intruciones de recuperacion
                form#Login(action = '/forgotPassword' method= 'post')
                    .form-group
                        input#userName.form-control-plaintext(type='email' placeholder= 'Email' name ='userEmail' value='email@example.com')
                .col-auto
                    button.btn.btn-primary.mb-3(type='submit') Resetear