extends ../layout

block content
    body#Loginform
        .container  
            .login-form
                .main-div
                    .panel
                        h2 Recuperación de Password
                        p Revise su cuenta de email, recibira un correo con las instruciones para recuperar su password
                        