extends ../layout

block content
   head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='')
    meta(name='author' content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
    meta(name='generator' content='Hugo 0.79.0')
    title Signin Template &middot; Bootstrap v5.0
    link(rel='canonical' href='https://getbootstrap.com/docs/5.0/examples/sign-in/')
    // Bootstrap core CSS
    link(href='bootstrap/bootstrap.min.css' rel='stylesheet')
    style.
        .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        }
        @media (min-width: 768px) {
        .bd-placeholder-img-lg {
        font-size: 3.5rem;
        }
        }
    // Custom styles for this template
    link(href='stylesheets/signin.css' rel='stylesheet')

    main.form-signin
        form#Login(action = '/login' method = 'post')
            .form-group
                img.mb-4(src='images/login.png' alt='' width='72' height='57' align = 'center')
                if info && info.message
                            .div.alert.alert-danger
                                = info.message
                h2.h5.mb-3.fw-normal Por favor ingrese su email y password
                label.visually-hidden(for='username') Email
                input#username.form-control(type='email' placeholder='Email address' name='username')
                label.visually-hidden(for='password') Password
                input#password.form-control(type='password' placeholder='Password' name='password')
                .checkbox.mb-3
                label
                    input(type='checkbox' value='remember-me')
                    |  Recuerdame
                .forgot
                    a(href='/auth/google') Iniciar con Google
                    br
                    a(href='/forgotPassword') Olvido su password? 
                button.w-100.btn.btn-lg.btn-primary(type='submit') Sign in
                p.mt-5.mb-3.text-muted &copy; 2017-2020
