extends ../layout

block content

    body#Loginform
    .container
        .login-form
            .main-div   
                .panel
                 if info && info.message
                    .div.alert.alert-danger
                         = info.message
                h2 Cambio de Password
                p Por favor ingrese su password
            form#Login(action = '/resetPassword' method = 'post')
                input#email(type = 'hidden' name = 'email' value = user.email)
                .form-group
                    label(for = 'pwd') Password
                    input#pwd.form-control(type="password" name ='password' class =errors.password)
                    if error.password
                        small#passwordHelp.text-danger
                             = error.password.message
                .form-group
                    label(for = 'confirmarPwd') Confirmar Password
                    input#confirmarPwd.form-control(type="password" name ='confirm_password' class =errors.password)
                    if error.confirm_password
                        small#confirm_passwordHelp.text-danger
                             = error.confirm_password.message
                .col-auto
                    button.btn.btn-primary.mb-3(type='submit') Cambiar