extends ../layout 

block content
    a(href='/usuarios') Volver
    br
    br
    br

    hi Nuevo Usuario

    br
    br

    form(action='/usuarios/create' method='post')
        .form-group
            label.col-sm-2.col-form-label.col-form-label-lg(for='nombre') Nombre:
        .col-sm-10
            input#nombre.form-control.form-control-sm(type='text' placeholder='Ingrese el Nombre' name='nombre' value=usuario.nombre class=errors.nombre ? 'is-invalid' : '')
            if errors.nombre
                small#nombreHelp.text-danger
                    = errors.nombre.message
        
        .form-group
            label.col-sm-2.col-form-label.col-form-label-lg(for='email') Email:
        .col-sm-10
            input#email.form-control.form-control-sm(type='text' placeholder='Ingrese el Email' name='email' value=usuario.email class=errors.email  ? 'is-invalid' : '')
            if errors.email
                small#emailHelp.text-danger
                    = errors.email.message

        .form-group
            label.col-sm-2.col-form-label.col-form-label-lg(for='pwd') Password:
        .col-sm-10
            input#pwd.form-control.form-control-sm(type='password' placeholder='Ingrese el Password' name='password' class=errors.password  ? 'is-invalid' : '')
            if errors.email
                small#passwordHelp.text-danger
                    = errors.password.message

        .form-group
            label.col-sm-2.col-form-label.col-form-label-lg(for='confirm_pwd') Confirmar Password:
        .col-sm-10
            input#confirm_pwd.form-control.form-control-sm(type='password' placeholder='Ingrese nuevamente el Password' name='confirm_password' class=errors.confirm_password  ? 'is-invalid' : '')
            if errors.confirm_password
                small#confirm_passwordHelp.text-danger
                    = errors.confirm_password.message


        br
        .col-auto
            button.btn.btn-primary(type='submit' value='OK')   
