extends ../layout 

block content
    a(href='/usuarios') Volver
    br
    br
    br

    hi Actualizar Usuario

    br
    br

    form(action=`/usuarios/${usuario.id}/update` method='post')
        .form-group
            label.col-sm-2.col-form-label.col-form-label-lg(for='nombre') Nombre:
        .col-sm-10
            input#nombre.form-control.form-control-sm(type='text' placeholder='Ingrese el Nombre' name='Nombre' value=usuario.nombre class=errors.nombre ? 'is_invalid' : '')
            if errors.nombre    
                small#nombreHelp.text-danger
                    = errors.nombre.message
        br
        .col-auto
            button.btn.btn-primary(type='submit' value = 'Actualizar')   
