extends ../layout 

block content
    a(href='/bicicletas') Volver
    br
    br
    br

    hi Nueva Bicicleta

    br
    br

    form(action='/bicicletas/create' method='post')
        .form-group
            label.col-sm-2.col-form-label.col-form-label-lg(for='id') ID:
        .col-sm-10
            input#id.form-control.form-control-sm(type='text' placeholder='Ingrese el ID' name='id' value=bici.code class=errors.code ? 'is-invalid' : '')
             if errors.code
                small#codeHelp.text-danger
                    = errors.code.message
        .form-group
            label.col-sm-2.col-form-label.col-form-label-lg(for='color') Color: 
            .col-sm-10
                input#color.form-control.form-control-sm(type='text' placeholder='Ingrese el color' name='color' value=bici.color class=errors.color ? 'is-invalid' : '')
                if errors.color
                small#colorHelp.text-danger
                    = errors.color.message
        .form-group
            label.col-sm-2.col-form-label.col-form-label-lg(for='modelo') Modelo:
            .col-sm-10
                input#modelo.form-control.form-control-sm(type='text' placeholder='Ingrese el modelo' name='modelo' value=bici.modelo class=errors.modelo ? 'is-invalid' : '')
                if errors.modelo
                small#colorHelp.text-danger
                    = errors.modelo.message
        .form-group
            label.col-sm-2.col-form-label.col-form-label-lg(for='ubicacion') Ubicacion:
            .row.g-3
                .col-sm-7
                    input#lat.form-control(type='text' placeholder='Latitud' aria-label='Latitud' name='lat')
                .col-sm
                    input#long.form-control(type='text' placeholder='Longitud' aria-label='Longitud' name='long')
        br
        .col-auto
            button.btn.btn-primary(type='submit') OK   
