extends ../layout 

block content
    a(href='/bicicletas') Volver
    br
    br
    br

    hi Actualizar Bicicleta

    br
    br

    form(action=`/bicicletas/${bici.code}/update` method='post')
        .row
            label.col-sm-2.col-form-label.col-form-label-lg(for='id') ID:
        .col-sm-10
            input#id.form-control.form-control-sm(type='text' placeholder='Ingrese el ID' name='id' value=bici.id)
        .row
        label.col-sm-2.col-form-label.col-form-label-lg(for='color') Color: 
        .col-sm-10
            input#color.form-control.form-control-sm(type='text' placeholder='Ingrese el color' name='color' value=bici.color)
        .row
        label.col-sm-2.col-form-label.col-form-label-lg(for='modelo') Modelo:
        .col-sm-10
            input#modelo.form-control.form-control-sm(type='text' placeholder='Ingrese el modelo' name='modelo' value=bici.modelo)
        label.col-sm-2.col-form-label.col-form-label-lg(for='ubicacion') Ubicacion:
        br
        .row.g-3
            .col-sm-7
                input#lat.form-control(type='text' placeholder='Latitud' aria-label='Latitud' name='lat' value=bici.ubicacion[0])
            .col-sm
                input#long.form-control(type='text' placeholder='Longitud' aria-label='Longitud' name='long' value=bici.ubicacion[1])
        br
        .col-auto
            button.btn.btn-primary(type='submit') Actualizar   
